
  
<app-navbar (AddEmployee)="openEmployeeForm()"></app-navbar>

<div *ngIf="dataLoading" class="dataLoading">
  <mat-spinner [color]="'warn'" class="m-auto" diameter="50"></mat-spinner>
</div>
<ng-container *ngIf="!dataLoading">
  <div class="users_page">
    <div class="container">
      <div class="row" *ngIf="employeesList.length">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let employee of employeesList" >
          <app-employee-card [employeeDetails]="employee" [loading]="dataLoading" (EditEmployee)="editEmployee($event)" (DeleteEmployee)="deleteEmployee($event)"></app-employee-card>
        </div>
        <div class="paginator">
          <mat-paginator
            (page)="getEmployeesList($event)"
            [length]="totalCount"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="[6, 12, 18, 24, 30, 36, 42]"
            [pageSize]="filterModel.per_page"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>        
  <div class="empty" *ngIf="!employeesList.length">
    <div class="container">
      <div class="empty_content">
        <h4 class="empty_title">This Is No Employee In System !!!</h4>
        <a (click)="openEmployeeForm()" class="btn btn-default empty_btn"> Add New Employee </a>
      </div>
    </div>
  </div>
</ng-container>

  